/* table, th, td {
    border: 1px solid black;
  } */

  .test{
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      background-color: rgb(126, 156, 78);
      font-family: Arial, Helvetica, sans-serif;
      color: lightgreen;

  }
